@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

.jumbotron {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url(../../../Images/cvheader.png);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 640px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: -25px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn1 {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 1165px;
  top: 23px;
  background: #ffaf00;
  border-style: none;
}

.jumbotron .btn1 p {
  font-size: 12px;
  text-shadow: none;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
}

.btn1:hover {
  background-color: #ffaf00 !important;
}

.btn2 {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 1045px;
  top: 23px;
  background: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
}

.jumbotron .btn2 p {
  font-size: 12px;
  text-shadow: none;
  font-weight: bold;
  color: #fff;
}

.btn2:hover {
  background-color: #ffaf00 !important;
  border-color: none !important;
  outline: none !important;
}

.btn2:active .btn2:focus {
  outline: none !important;
  outline-offset: none !important;
  border: none !important;
  border-color: none !important;
  color: #ffaf00;
  box-shadow: none;
}

.btn3 {
  position: absolute;
  width: 100px;
  height: 38px;
  left: 1110px;
  top: -44px;
  background: #ffaf00;
  border-radius: 4px;
  border-style: none;
}

.jumbotron .btn3 p {
  font-size: 14px;
  text-shadow: none;
  font-weight: bold;
  font-family: "Product Sans", sans-serif;
  padding-top: 3px;
  color: #fff;
}

.btn3:hover {
  background-color: #ffaf00;
}

.btn9 {
  position: absolute;
  width: 140px;
  height: 52px;
  left: 1060px;
  top: -44px;
  background: #ffaf00;
  border-radius: 4px;
  border-style: none;
}

.jumbotron .btn9 p {
  font-size: 18px;
  text-shadow: none;
  font-weight: bold;
  font-family: "Product Sans", sans-serif;
  padding-top: 7px;
  color: #fff;
}

.btn9:hover {
  background-color: #ffaf00;
}

.btn4 {
  position: absolute;
  width: 435px;
  margin-top: -50px;
  left: 30px;
  background: #ffaf00;
  border-style: none;
}

.btn4:hover {
  background-color: #ffaf00 !important;
}

.jumbotron .logo {
  position: absolute;
  left: 95px;
  top: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title1 {
  position: absolute;
  width: 218px;
  height: 78px;
  left: 93px;
  top: 131px;
  font-family: "Product Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  text-shadow: none;
}

.title2 {
  position: absolute;
  width: 815px;
  height: 78px;
  left: 62px;
  top: 198px;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  text-shadow: none;
}

.title3 {
  position: absolute;
  width: 317px;
  height: 22px;
  left: 45px;
  top: 340px;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-shadow: none;
}

.search {
  position: absolute;
  width: 1182px;
  height: 50px;
  left: 74px;
  top: 375px;
}

.form {
  position: absolute;
  width: 1182px;
  height: 50px;
}

.form-search {
  width: 100%;
  height: 120%;
  margin-left: 1.7%;
}

.ctrl {
  margin-bottom: 80px;
}
